
body{
	font-family: 微軟正黑體, MS Sans Serif !important;
	background-color: #FFF !important;
}
.boxcs{
	text-decoration:none;
	width:300px;
}
.en{
	color: #657868 !important;
}
.inner {
  display: flex; /* ★ */
  align-items: center; /* ★ */
  justify-content: center;
}
.inneren:hover {
  background-color: #d6e3dd !important;
  border: #FFF !important;
}
.inneren,.card-body{
  color: #000 !important;
}
/*index 委員名單效果*/
.social-box .box {
    background: #FFF;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px 0;
    padding: 40px 10px;
    transition: all 0.5s ease-out;
}

.social-box .box:hover {
   box-shadow: 0 0 6px #68897c;
}

.social-box .box-text {
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0;
}

.social-box .box-btn a {
    color: #657868;
    font-size: 16px;
    text-decoration: none;
}

/*index 委員名單效果結束*/
#T1{
	background-color:#f6aaaa;
	background-attachment:fixed;
	background-size: contain;
}
#T2{  	
	
	/*background-image: url("../web_img/bg03.png");*/
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: contain;
	width: 100%;
	background: linear-gradient(268deg, #96E1FF 6%, #FFFFFF 49%);
	background: -moz-linear-gradient(268deg, #96E1FF 6%, #FFFFFF 49%);
	background: -webkit-linear-gradient(268deg, #96E1FF 6%, #FFFFFF 49%);
	background: -o-linear-gradient(268deg, #96E1FF 6%, #FFFFFF 49%);
}
#T3{
	background-image:url("../web_img/02.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	width: 100%;
}

#T4{
	background-color:#f5fbfe;
	background-attachment:fixed;
	background-size: contain;
}

.CHKIMG {
max-width: 100%;
height: 37px;
}

li{
list-style:none
}

.logosize{
	width:300px;
}
.operator1{
	display: block;
	}
	.operator2{
	display: none;
	}
@media screen and (max-width: 768px) {
	.operator1{
	display: none;
	}
	.operator2{
	display: block;
	}
	.logosize{
	width:275px;
	}
	
}


.line1 {	
	width: 100%;
	border: 1px dashed #bbbbbb;
}

.line2 {
	width: 50%;		
	height: 10px;
	border-top: solid #ffffff 1px;
}

.line5 {
	width: 10%;	
	border-top: solid #ACC0D8 3px;
}

.large{					
	transition:0.3s;	
}
.large:hover{
	transform:scale(1.02);	/* 放大 */
}
/*
.small{					
	transition:0.5s;	
}
.small:hover{
	transform:scale(0.9);	/* 縮小 
}
*/

.transform1{
	color:#7b7b7b;
	transition:0.2s;	
}

.transform1:hover{
	color:#fff;
	background-color: #198754;
}


.list-box {
    padding-bottom: 10px;		/* 分隔線 */
    margin-bottom: 25px;
    border-bottom: 1px dashed #ccc;
}

.list-box2 {
    padding-bottom: 10px;		/* 分隔線 */
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}



.bg2{
	background: rgba(20, 20, 20, 0.47);
}


.redate{							/* 變圓形 */
    border: 2px solid #244d8b;
	border-radius:50%;
    width: 90px;
    height: 90px;
    color: #244d8b;
    display: flex;
    justify-content: center;
    align-items: center;   
	background-color:;
	transition: all 0.5s;
	position: relative;
	text-align:center;
}

.redate:hover{
    border-radius:50%;
	color: #ffffff;
	background-color:#006fbd;
	border: #006fbd;
}






/**/
a .news-date {
    float: left;
    /*width: 166px;*/
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Century Gothic", 微軟正黑體, sans-serif;
    z-index: 1;
    padding: 13px 2px;
    background: #415b4f;
    margin: 0px 10px 0px 0px;
    overflow: auto;
	/*border-radius:20px;*/
}
a .news-datetitle {
    float: left;
    /*text-align: center;*/
	font-size:1.2em;
    color:#4a4a4a;
    font-family: "Century Gothic", 微軟正黑體, sans-serif;
    z-index: 1;
    padding: 21px 15px;
    background: #ffffff;
    margin: 0px 10px 0px 0px;
    overflow: auto;
	/*border-radius:20px;*/
}
a .news-right {
    float: left;
    /*width: 166px;*/
    text-align: center;
	font-size:1.6em;
    color:#fff;
    font-family: "Century Gothic", 微軟正黑體, sans-serif;
    z-index: 1;
    padding: 10px 8px;
    background:#415b4f;
    margin: 0px 10px 0px 0px;
    overflow: auto;
	/*border-radius:20px;*/
    transition: .5s;
}

.news-more {
    float: left;
    /*width: 166px;*/
    text-align: center;
	font-size:1.6em;
    color:#fff;
    font-family: "Century Gothic", 微軟正黑體, sans-serif;
    z-index: 1;
    padding: 10px 8px;
    background:#ab9e70;
    margin: 0px 10px 0px 0px;
    overflow: auto;
	/*border-radius:20px;*/
    transition: .5s;
}

a:hover .news-right i{
	  margin-left: 25px;	/* 放大 */	  
}
.news-date .day1 {
    display: block;
    font-size: 1.65em;
   /* border-bottom: 1px solid #fff;*/
    padding: 5px 0 8px 0;
    line-height: 32px;
    font-weight: 600;
}
.list-white {
    padding-bottom: -3px;		/* 分隔線 */
    margin-bottom: 0px;
    border-bottom: 3px solid #fff;
}
@media screen and (max-width: 768px) {
	a .news-date {
		float: left;
		width: 100%;
		text-align: center;
		color: rgb(255, 255, 255);
		font-family: "Century Gothic", 微軟正黑體, sans-serif;
		z-index: 1;
		padding: 5px 2px;
		background: #91a29a;
		margin: 0px 10px 0px 0px;
		overflow: auto;
		/*border-radius:20px;*/
	}
	a .news-datetitle {
		float: left;
		width: 80%;
		font-size:1.2em;
		color:#345817;
		font-family: "Century Gothic", 微軟正黑體, sans-serif;
		z-index: 1;
		padding: 6px 15px;
		background: #eff5cd;
		margin: 0px 10px 0px 0px;
		overflow: auto;
		/*border-radius:20px;*/
	}
	a .news-right {
		float: left;
		width: 20%;
		text-align: center;
		font-size:1.6em;
		color:#fff;
		font-family: "Century Gothic", 微軟正黑體, sans-serif;
		z-index: 1;
		padding: 10px 8px;
		background:#f1b545;
		margin: 0px 10px 0px 0px;
		overflow: auto;
		/*border-radius:20px;*/
		transition: .5s;
	}
	.list-white {
		padding-bottom: -3px;		/* 分隔線 */
		margin-bottom: 0px;
		border-bottom: 6px solid #fff;
	}
	.news-more {
		float: left;
		width: 100%;
		text-align: center;
		font-size:1.6em;
		color:#fff;
		font-family: "Century Gothic", 微軟正黑體, sans-serif;
		z-index: 1;
		padding: 10px 8px;
		background:#ab9e70;
		margin: 0px 10px 0px 0px;
		overflow: auto;
		/*border-radius:20px;*/
		transition: .5s;
	}
}


/**/





/*首頁表格*/
/*
.change tbody tr{
	background-color: ;
	transition:0.3s;
	color:#4083c6;
}

.change tbody tr:hover{
background-color: #6695bd;
color: #fff;
}



.change2 tbody tr{
	background-color:#fff ;
	transition:0.3s;
	color:#688da1;
}

.change2 tbody tr:hover{
	background-color: #6d817b;
	color: #fff;
}

.change2 tbody tr a{
	background-color: ;
	transition:0.3s;
	color:#688da1;
}
/*
.change2 tbody tr:hover a{
background-color:;
color: #fff;
}*/

a {
	text-decoration: none; 
    color: #4a4a4a;
}
a:hover {
    color: #9eada6; /* 當滑鼠經過時，超連結文字顏色變成紫灰色 */
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px;
	text-decoration: none;
}
/*首頁表格*/



/*下拉式選單*/



.dropdown-menu {
    position: absolute;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 0.25rem;
	box-shadow: 2px 2px 3px 1px rgb(135 134 134 / 22%);
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    color: #212529;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    color: #0aa155;
    background-color: #dee0df;
    border: 0;
}

/*下拉式選單*/

::-moz-selection {
  color: ;
  background: #ffd9de;
}

::selection {
  color: ;
  background: #ffcc7d;
}

.h1color{
	color:#415b4f;
	font-size: 2em;
}


.h3color{
	color:#263b0e;
	font-size: 1.5em;
}


.text-ore{
	color:#f5aa76;
}

/*委員名單*/
.T5{
	box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 15%) !important;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
	/*padding: 1.25rem;*/
	position: relative;
}

.circle-big{
	box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
	border-radius: 125px;
	background-color: #FFFFFF;
	background-image:url("../web_img/download.png");
	background-repeat:no-repeat;
	/*background-attachment:fixed;*/
	background-size:100%;
	width: 100%;
    color: #34609b;
	font-weight:bold;
    margin-bottom: 42px;
    position: relative;
	margin-top:20px;
	border: 2px solid #ffffff;
	height:230;
}

.circle-big-shadow {
    max-width: 240px;
    position: relative;
}

.circle-contalent {
    padding: 50px 25px;
   /* text-align: center;
	max-height: 280px;*/
}
.title{
	font-size:1.8em;
	color:#657868;
	font-weight:bold;
}
.day{
	font-size:1em;
	color:#e4801f;
}
.description{
	font-size:1.2em;
	
}

/*委員名單*/



/*會議記錄*/
.T6{
	box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 15%) !important;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
	/*padding: 1.25rem;*/
	position: relative;
}

.square-big{
	box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
	/*border-radius: 125px;*/
	background-color: #FFFFFF;
	background-image:url("../web_img/file.png");
	background-repeat:no-repeat;
	/*background-attachment:fixed;*/
	background-size:100%;
	width: 100%;
    color: #34609b;
	font-weight:bold;
    margin-bottom: 42px;
    position: relative;
	margin-top:20px;
	border: 2px solid #ffffff;
	height:190;
}

.square-big-shadow {
    max-width: 255px;
    position: relative;
}



.contalent {
    padding: 50px 25px;
   /* text-align: center;
	max-height: 280px;*/
}
.square-title{
	font-size:1.8em;
	color:#4069a1;
	font-weight:bold;
}



/*會議記錄END*/


/*委員/幹事名單*/

.btn-outline-green{
	background-color:#fff;
	border:1px solid #91a29a!important;
	color:#91a29a;
}
.btn-outline-green:hover{
	background-color:#91a29a;
	border:#91a29a;
	color:#fff;
}
.btn-outline-green:hover,.btn-outline-green:focus{
	background-color:#91a29a;
	border:#91a29a;
	color:;
}


/*委員/幹事名單END*/

.fatfoot.fatfoot_bg {
    background: url(../images/template/footer_bg.png) no-repeat bottom center;
	z-index: 9;
}
.sbanner_link{
    background: url(../images/template/bg2.png) no-repeat bottom center;
    min-height: 229px;
}




.fontinside{
    display: block;
    font-size: 1em;
    padding: 3px 0 3px 0;
    line-height: 24px;
	text-indent:2em;
    font-weight: 600;
}


