<%- include('../includes/header.ejs')%>

<form class="product-form" action="./add-product" method="post">
    <div class="form-group">
        <label for="title">产品标题</label>
        <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="titleHelp" />
        <small id="titleHelp" class="form-text text-muted"
            >请输入标题内容</small
        >
    </div>

    <div class="form-group">
        <label for="imageUrl">产品图片</label>
        <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
            aria-describedby="imageUrlHelp" />
        <small id="imageUrlHelp" class="form-text text-muted"
            >请输入产品图片地址</small
        >
    </div>

    <div class="form-group">
        <label for="price">产品价格</label>
        <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            aria-describedby="priceHelp" />
        <small id="priceHelp" class="form-text text-muted"
            >请输入产品价格</small
        >
    </div>

    <div class="form-group">
        <label for="description">产品介绍</label>
        <textarea
            class="form-control"
            id="description"
            name="description"
            rows="4"></textarea>
        <small id="descriptionHelp" class="form-text text-muted"
            >请输入产品介绍</small
        >
    </div>
    <button type="submit" class="btn btn-primary">添加产品</button>
</form>
<%- include('../includes/footer.ejs')%>
