<%- include('includes/header.ejs')%>

<div class="jumbotron">
    <h1 class="display-4">页面没找到</h1>
    <p class="lead">很抱歉，你所找的页面已经丢失！</p>
    <hr class="my-4">
    <p>请点击按钮返回首页</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a>
</div>
<%- include('includes/footer.ejs')%>